nav{
    background-color: #fff;
    box-shadow: 0px 5px 8px -5px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 5px 8px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 8px -5px rgba(0,0,0,0.75);
    height: 100px;
}

main{
    background-color: #009900;
    color: #fff;;
}

.navbar-collapse{
    justify-content: center;
    padding-top: 10px;
    font-size: large;
}

.nav-item{
    color: green;
    margin: 20px;
    transition: 0.5s color;
}

.nav-item:hover{
    color: #000;
}